@import "tailwindcss/base";

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.input {
  @apply border rounded py-2 px-3 text-gray-700 w-full focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-400;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

html {
  /*touch-action: none;*/
}

html,
body {
  /*overscroll-behavior: none;*/
}

/*
.input:focus {
  outline-color: #3b82f680;
}

.input:focus-visible {
  outline-color: #3b82f680;
}

.input:-moz-focusring {
  outline: 1px solid;
  outline-color: #3b82f680;
  outline-style: solid;
  outline-width: 1px;
  -moz-outline-radius: 4px;
}
*/
